.f12{
    font-size: 12px;
}
.f13{
    font-size: 13px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}

.w20{
    width: 20%;
}

.tb-spacing{
    border-collapse: separate;
    border-spacing: 12px;
}
.col-form-label{
    font-size: 13px;
}
.hide{
    display: none;
}